body,
html {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

/**** HEADER ****/
h1,
h2 {
    margin: 0;
    font-weight: 400;
}

#header {
    padding: 10px 0;
    background: #18ad90;
    color: #fff;
    text-align: center;
}

#colorValue {
    font-size: 3em;
    text-transform: uppercase;
}

/**** NAVIGATION ****/
.stripe {
    background: #fff;
    height: 30px;
    text-align: center;
}

button {
    color: #18ad90;
    height: 100%;
    border: none;
    background: none;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    font-weight: 700;
    transition: all 0.3s;
}

#easy:hover,
#hard:hover,
#newColors:hover,
.selected {
    background: #18ad90;
    color: #fff;
}

#message {
    display: inline-block;
    width: 20%;
}

/**** FIELD WITH SQUARES ****/
#content {
    text-align: center;
    margin: 15px auto;
}

.square {
    display: inline-block;
    margin: 1.66%;
    width: 30%;
    padding-bottom: 30%;
    background: #e74c3c;
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.5s;
}